@page "/RecentViewCompany"
<MudPaper Class="d-flex justify-space-between flex-grow-1 gap-4" Elevation="0">
    <MudPaper Elevation="0" Width="1004px" Height="64px">
    <MudText Typo="Typo.h3" style= "color:blue"> Recent View Company </MudText>
    </MudPaper>
    <MudPaper Class="mb-10" Style="@($"color:background:{Colors.Shades.White};")" Elevation="0" Width="500px" Height="64px">
        <MudTextField Class="rounded-pill flex-grow-1 gap-4" Style="@($"color:{Colors.Shades.White}; background:{Colors.Blue.Darken4};")"  @bind-Value="Search"  Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Dark" />
    </MudPaper>
</MudPaper>


<div id="another_unique_identifier" class="ma-0" style="height:650px;overflow: auto;">
    <MudPaper Elevation="0" Height="3500px" Class="d-flex flex-column justify-space-between">
        <div class="d-flex">
<MudPaper Width="950px" Class="d-flex align-content-start flex-wrap flex-grow-1 gap-4"  Height="100px" Elevation="0">
    <MudPaper Style="@($"color:{Colors.Shades.Black}; background:{Colors.Grey.Lighten3};")"  Width="380px" Height="184px">
    <div class="d-flex justify-center">
    <MudAvatar Class="mt-5" Size="Size.Large">
    <MudImage  Src="images/logorecent.png"></MudImage>
    </MudAvatar>
    </div>
    
    <div class="d-flex justify-center">
    <MudText Class="mt-5"> Name of Company</MudText>
    </div>

    <div class="d-flex justify-center">
    <MudText Class="mt-1"> IT Industry</MudText>
    </div>


    </MudPaper>

    <MudPaper Style="@($"color:{Colors.Shades.Black}; background:{Colors.Grey.Lighten3};")" Class="" Width="380px" Height="184px">
      <div class="d-flex justify-center">
    <MudAvatar Class="mt-5" Size="Size.Large">
    <MudImage  Src="images/logorecent.png"></MudImage>
    </MudAvatar>
    </div>
    
    <div class="d-flex justify-center">
    <MudText Class="mt-5"> Name of Company</MudText>
    </div>

    <div class="d-flex justify-center">
    <MudText Class="mt-1"> IT Industry</MudText>
    </div>   
    </MudPaper>

    <MudPaper Style="@($"color:{Colors.Shades.Black}; background:{Colors.Grey.Lighten3};")" Class="" Width="380px" Height="184px">
        <div class="d-flex justify-center">
    <MudAvatar Class="mt-5" Size="Size.Large">
    <MudImage  Src="images/logorecent.png"></MudImage>
    </MudAvatar>
    </div>
    
    <div class="d-flex justify-center">
    <MudText Class="mt-5"> Name of Company</MudText>
    </div>

    <div class="d-flex justify-center">
    <MudText Class="mt-1"> IT Industry</MudText>
    </div> 
    </MudPaper>

    <MudPaper Style="@($"color:{Colors.Shades.Black}; background:{Colors.Grey.Lighten3};")" Class="" Width="380px" Height="184px">
        <div class="d-flex justify-center">
    <MudAvatar Class="mt-5" Size="Size.Large">
    <MudImage  Src="images/logorecent.png"></MudImage>
    </MudAvatar>
    </div>
    
    <div class="d-flex justify-center">
    <MudText Class="mt-5"> Name of Company</MudText>
    </div>

    <div class="d-flex justify-center">
    <MudText Class="mt-1"> IT Industry</MudText>
    </div> 
    </MudPaper>

    <MudPaper Style="@($"color:{Colors.Shades.Black}; background:{Colors.Grey.Lighten3};")" Class="" Width="380px" Height="184px">
        <div class="d-flex justify-center">
    <MudAvatar Class="mt-5" Size="Size.Large">
    <MudImage  Src="images/logorecent.png"></MudImage>
    </MudAvatar>
    </div>
    
    <div class="d-flex justify-center">
    <MudText Class="mt-5"> Name of Company</MudText>
    </div>

    <div class="d-flex justify-center">
    <MudText Class="mt-1"> IT Industry</MudText>
    </div> 
    </MudPaper>

    <MudPaper Style="@($"color:{Colors.Shades.Black}; background:{Colors.Grey.Lighten3};")" Class="" Width="380px" Height="184px">
        <div class="d-flex justify-center">
    <MudAvatar Class="mt-5" Size="Size.Large">
    <MudImage  Src="images/logorecent.png"></MudImage>
    </MudAvatar>
    </div>
    
    <div class="d-flex justify-center">
    <MudText Class="mt-5"> Name of Company</MudText>
    </div>

    <div class="d-flex justify-center">
    <MudText Class="mt-1"> IT Industry</MudText>
    </div> 
    </MudPaper>

    <MudPaper Height="620px" Width="1200px" Elevation="0">
        <MudText Class="d-flex mt-10 mb-5" Typo="Typo.h3" style= "color:blue"> Suggestion Company </MudText>
        <div class="d-flex flex-grow-1 gap-4">
        <MudPaper Style="@($"color:{Colors.Shades.Black}; background:{Colors.Grey.Lighten3};")" Class="mb-5" Width="380px" Height="184px">
        <div class="d-flex justify-center">
    <MudAvatar Class="mt-5" Size="Size.Large">
    <MudImage  Src="images/logorecent.png"></MudImage>
    </MudAvatar>
    </div>
    
    <div class="d-flex justify-center">
    <MudText Class="mt-5"> Name of Company</MudText>
    </div>

    <div class="d-flex justify-center">
    <MudText Class="mt-1"> IT Industry</MudText>
    </div> 
    </MudPaper>

    <MudPaper Style="@($"color:{Colors.Shades.Black}; background:{Colors.Grey.Lighten3};")" Class="" Width="380px" Height="184px">
        <div class="d-flex justify-center">
    <MudAvatar Class="mt-5" Size="Size.Large">
    <MudImage  Src="images/logorecent.png"></MudImage>
    </MudAvatar>
    </div>
    
    <div class="d-flex justify-center">
    <MudText Class="mt-5"> Name of Company</MudText>
    </div>

    <div class="d-flex justify-center">
    <MudText Class="mt-1"> IT Industry</MudText>
    </div> 
    </MudPaper>

    <MudPaper Style="@($"color:{Colors.Shades.Black}; background:{Colors.Grey.Lighten3};")" Class="" Width="380px" Height="184px">
        <div class="d-flex justify-center">
    <MudAvatar Class="mt-5" Size="Size.Large">
    <MudImage  Src="images/logorecent.png"></MudImage>
    </MudAvatar>
    </div>
    
    <div class="d-flex justify-center">
    <MudText Class="mt-5"> Name of Company</MudText>
    </div>

    <div class="d-flex justify-center">
    <MudText Class="mt-1"> IT Industry</MudText>
    </div> 
    </MudPaper>

    
    </div>

    <div class="d-flex flex-grow-1 gap-4">
        <MudPaper Style="@($"color:{Colors.Shades.Black}; background:{Colors.Grey.Lighten3};")" Class="" Width="380px" Height="184px">
        <div class="d-flex justify-center">
    <MudAvatar Class="mt-5" Size="Size.Large">
    <MudImage  Src="images/logorecent.png"></MudImage>
    </MudAvatar>
    </div>
    
    <div class="d-flex justify-center">
    <MudText Class="mt-5"> Name of Company</MudText>
    </div>

    <div class="d-flex justify-center">
    <MudText Class="mt-1"> IT Industry</MudText>
    </div> 
    </MudPaper>

    <MudPaper Style="@($"color:{Colors.Shades.Black}; background:{Colors.Grey.Lighten3};")" Class="" Width="380px" Height="184px">
        <div class="d-flex justify-center">
    <MudAvatar Class="mt-5" Size="Size.Large">
    <MudImage  Src="images/logorecent.png"></MudImage>
    </MudAvatar>
    </div>
    
    <div class="d-flex justify-center">
    <MudText Class="mt-5"> Name of Company</MudText>
    </div>

    <div class="d-flex justify-center">
    <MudText Class="mt-1"> IT Industry</MudText>
    </div> 
    </MudPaper>

    <MudPaper Style="@($"color:{Colors.Shades.Black}; background:{Colors.Grey.Lighten3};")" Class="" Width="380px" Height="184px">
        <div class="d-flex justify-center">
    <MudAvatar Class="mt-5" Size="Size.Large">
    <MudImage  Src="images/logorecent.png"></MudImage>
    </MudAvatar>
    </div>
    
    <div class="d-flex justify-center">
    <MudText Class="mt-5"> Name of Company</MudText>
    </div>

    <div class="d-flex justify-center">
    <MudText Class="mt-1"> IT Industry</MudText>
    </div> 
    </MudPaper>

    
    </div>
    </MudPaper>

    
    
    
    
</MudPaper>
</div>



        <MudScrollToTop TopOffset="100" Selector="#another_unique_identifier" Style="z-index:2001;">
            <div class="mud-theme-secondary px-3 py-6 mud-elevation-16 rounded-xl fixed" style="bottom:20px;left:20px;">Scroll to top custom button</div>
        </MudScrollToTop>
    </MudPaper>
</div>



@code {
    private MudTheme Theme = new MudTheme();

    public string Search { get; set;}

    public string Disabled { get; set; }
}