@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="0"  Style="height:100px; width: 100%;  background: rgb(255,255,255); box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;" Class="pt-5 ">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Dark" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
            <div style="display: contents;">
                <div style="margin-left: 15rem">
                    <MudImage Src="Images/Logo.png"/>
                </div>
       
        <div class="head d-flex gap-8 pl-15" style="margin-left: 5rem; ">
                <MudButton Href="/Homepage" Class="mud-info "  Style="@($"color:{Colors.Shades.White}")">
                    <MudText Typo="Typo.h6" Style="padding: 1px 12px">Home</MudText>
                </MudButton>
                <MudButton Href="/MA-aboutme" Style="@($"color:{Colors.Shades.Black}")">
                    <MudText Typo="Typo.h6" Style="padding: 1px 12px">My Account</MudText>
                </MudButton>
                 <MudButton Href="/EmployerJob" Style="@($"color:{Colors.Shades.Black}")">
                    <MudText Typo="Typo.h6" Style="padding: 1px 12px">Employer/Post Job</MudText>
                </MudButton>
        </div>
        <MudSpacer />
                <div style="display: flex; margin-right: 20rem">
                    @* -----MESSAGES BUTTON-----*@
                    <div>
                        <MudIconButton Icon="@Icons.Material.Filled.Message"  Style="@($"color:{Colors.Green.Default}")" OnClick="OnButtonClicked" />
                        <MudMessageBox @ref="mbox" Title="Messages" >
                        <MessageContent>
                            <div class="Messages d-flex gap-4" style="padding: 1.5rem 1rem; align-items: center; ">
                                    <div style="display: flex; align-items: center;">
                                        <MudImage Src="Images/Message-logocompany.png" Width="50" Height="60"/>
                                    </div>
                                    <div>
                                        <div class="d-flex justify-space-between">
                                            <h1 style="font-size: 1.4rem;">Accenture</h1>
                                            <p style="font-size: .8rem;">Nov 11</p>
                                        </div>
                                        <div>
                                            <p style="font-size: 1rem; font-weight: 200; ">Hello Nyleco,Thank you for applying to the Technical Support Engineer - Blended Non-Voice (Software as </p>
                                        </div>
                                    </div>
                            </div>
                            <div class="Messages d-flex gap-4" style="padding: 1.5rem 1rem; align-items: center; ">
                                    <div style="display: flex; align-items: center;">
                                        <MudImage Src="Images/Message-logocompany.png" Width="50" Height="50"/>
                                    </div>
                                    <div>
                                        <div class="d-flex justify-space-between">
                                            <h1 style="font-size: 1.4rem;">Accenture</h1>
                                            <p style="font-size: .8rem;">Nov 11</p>
                                        </div>
                                        <div>
                                            <p style="font-size: 1rem; font-weight: 200; ">Hello Nyleco,Thank you for applying to the Technical Support Engineer - Blended Non-Voice (Software as </p>
                                        </div>
                                    </div>
                            </div>
                            <div class="Messages d-flex gap-4" style="padding: 1.5rem 1rem; align-items: center; ">
                                    <div style="display: flex; align-items: center;">
                                        <MudImage Src="Images/Message-logocompany.png" Width="50" Height="50"/>
                                    </div>
                                    <div>
                                        <div class="d-flex justify-space-between">
                                            <h1 style="font-size: 1.4rem;">Accenture</h1>
                                            <p style="font-size: .8rem;">Nov 11</p>
                                        </div>
                                        <div>
                                            <p style="font-size: 1rem; font-weight: 200; ">Hello Nyleco,Thank you for applying to the Technical Support Engineer - Blended Non-Voice (Software as </p>
                                        </div>
                                    </div>
                            </div>
                            </MessageContent>
                            @* <YesButton>
                                <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever">Delete!</MudButton>
                            </YesButton> *@
                            </MudMessageBox>

                            @code
                            {
                                MudMessageBox mbox { get; set; }
                                string state = "Message box hasn't been opened yet";

                                private async void OnButtonClicked()
                                {
                                    bool? result = await mbox.Show();
                                    state = result == null ? "Canceled" : "Deleted!";
                                    StateHasChanged();
                                }
                            }
                    </div>

                    @* -----NOTIFICATION BUTTON-----*@
                    <div>
                            <MudIconButton Icon="@Icons.Material.Filled.Notifications" Color="Color.Info" OnClick="OnButtonClicked1" />
                            <MudMessageBox @ref="mbox1" Title="Notifications">
                            <MessageContent>
                                <div class="Messages" style=" align-items: center; ">
                                        <div style="">
                                            <p style="font-size: .8rem; border-bottom: 1px solid black; padding: .2rem 1rem;">Messages 6 days ago</p>
                                            <div class="">
                                                <h1 style="font-size: 1rem; padding: .2rem 1rem;">Haven't heard back?</h1>
                                                <p style="font-size: 1rem; font-weight: 200; padding: .2rem 1rem;">You are more likely to hear back on your application if you follow up with a message. </p>
                                                <div style="padding: .2rem 1rem; font-size: 1rem; font-weight: 500;">
                                                    <p>HTML/CSS Junior Developer - Part-Time, Entry Level</p>
                                                    <p>Fun Express</p>
                                                    <p>Work from Home,</p>
                                                </div>
                                                <div style="display: flex; align-items: center; place-content: end; font-size: 1rem; font-weight: 500;">
                                                    <p>Send Message</p>
                                                    <MudIconButton Icon="@Icons.Material.Filled.Send"  Style="color: #027F28; rotate: -40deg;" />
                                                </div>
                                                
                                            </div>
                                        </div>
                                </div>
                                <div class="Messages" style=" align-items: center; ">
                                        <div style="">
                                            <p style="font-size: .8rem; border-bottom: 1px solid black; padding: .5rem 1rem;">Messages 6 days ago</p>
                                            <div class="">
                                                <h1 style="font-size: 1rem; padding: .2rem 1rem;">Haven't heard back?</h1>
                                                <p style="font-size: 1rem; font-weight: 200; padding: .2rem 1rem;">You are more likely to hear back on your application if you follow up with a message. </p>
                                                <div style="padding: .2rem 1rem; font-size: 1rem; font-weight: 500;">
                                                    <p>HTML/CSS Junior Developer - Part-Time, Entry Level</p>
                                                    <p>Fun Express</p>
                                                    <p>Work from Home,</p>
                                                </div>
                                                <div style="display: flex; align-items: center; place-content: end; font-size: 1rem; font-weight: 500;">
                                                    <p>Send Message</p>
                                                    <MudIconButton Icon="@Icons.Material.Filled.Send"  Style="color: #027F28; rotate: -40deg;" />
                                                </div>
                                                
                                            </div>
                                        </div>
                                </div>
                                
                                </MessageContent>
                                @* <YesButton>
                                    <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever">Delete!</MudButton>
                                </YesButton> *@
                                </MudMessageBox>

                                @code
                                {
                                    MudMessageBox mbox1 { get; set; }
                                    string state1 = "Message box hasn't been opened yet";

                                    private async void OnButtonClicked1()
                                    {
                                        bool? result = await mbox1.Show();
                                        state1 = result == null ? "Canceled" : "Deleted!";
                                        StateHasChanged();
                                    }
                                }
                </div>

                     @* -----LOGOUT BUTTON-----*@
                    <MudButton Variant="Variant.Filled"  Style="@($"color:{Colors.Shades.Black}")" OnClick="OnButtonClicked3"> 
                        <MudText Typo ="Typo.h6"> Logout</MudText>
                    </MudButton>
                        <MudMessageBox @ref="mbox2">
                            <MessageContent>
                                <div>
                                    <h1>Are you sure?</h1>
                                    <div>
                                        <div class="mt-4 d-flex gap-4" style="place-content: center;">
                                                <MudButton Variant="Variant.Filled" Color="Color.Info"  Size="Size.Medium" Style="background-color: #3E0202; color: white;  padding: .5rem 2rem;">No</MudButton>
                                                <MudButton Variant="Variant.Filled" Color="Color.Info"  Size="Size.Medium" Style="background-color: #027F28; color: white; padding: .5rem 2rem;">Yes</MudButton>
                                        </div>
                                    </div>
                                </div>
                            </MessageContent>
                        </MudMessageBox>

                    @code
                    {
                        MudMessageBox mbox2 { get; set; }
                        string state3 = "Message box hasn't been opened yet";

                        private async void OnButtonClicked3()
                        {
                            bool? result = await mbox2.Show();
                            state3 = result == null ? "Canceled" : "Deleted!";
                            StateHasChanged();
                        }
                    }
                </div>
         </div>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="1">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">MyApplication</MudText>
        </MudDrawerHeader>
        <NavMenu/>
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-16 pt-16">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}


<script src="script.js"></script>